{% extends '../includes/base.html' %}
{% load static %}
{% block content %}
    <main>
                          
        <div class="container">
            <div class="container-fluid px-1 py-5 mx-auto">
                <div class="row2 d-flex justify-content-center">
                    <div class="mddd col-xl-6 col-lg-6 col-md-6 col-11 ">
                        <h3 style="margin-bottom: 20px;" class="text-center">Connectez-vous à votre compte </h3>
                            <p class="blue-text"></p>
                        <!-- <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p> -->
                        <div class="card1">
                            <div class="alert alert-success" role="alert">
                                Vérifiez votre téléphone,
un code de validation vient d’etre envoyé !
                              </div>
                            <a href="connexion.html" style="text-decoration: none;color:#e37321;font-size:16px;">Réenvoyer le code</a>                             
                            
                            <form action="" class="mt-3">
                                <div class="row justify-content-between text-left" >
                                    <div class="form-group col-12 flex-column d-flex password-container">
                                        <label class="form-control-label px-3 mt-4" >Saisir le code de validation<span class="text-danger">*</span></label>

                                    </div>
                                </div>
                                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(4)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(5)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(6)' maxlength=1 >
                                <input class="otp" type="text" oninput='digitValidate(this)'onkeyup='tabChange(7)' maxlength=1 >

                                <hr class="mt-4">
                                <button class=' btn-block mt-4 mb-4 customBtn'>Vérifiez</button>
                          
                              </form>
                              </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}